body {
    text-align: center;
    background-color: aliceblue;
}

h1 {
    text-decoration: underline;
}

img {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}